.verifiedEmailContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #45a049;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 0 rgba(76, 175, 80, 0.4);
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.6);
    background-color: #45a049;
}
